// ----------------------------------------------
// Project: Tictactoe
// Author: Lasha Badashvili (lashab@picktek.com)
// URL: http://github.com/lashab
// ----------------------------------------------

/* transition mixin. */
@mixin transition($arguments...) {
  -webkit-transition: $arguments;
  -o-transition: $arguments;
  transition: $arguments;
}
/* animation mixin. */
@mixin animation($arguments...) {
  -webkit-animation: $arguments;
     -moz-animation: $arguments;
      -ms-animation: $arguments;
       -o-animation: $arguments;
          animation: $arguments;
}
/* keyframes mixin. */
@mixin keyframes($animation) {
  @-webkit-keyframes #{$animation} {
    @content;
  }
  @-moz-keyframes #{$animation} {
    @content;
  }
  @-ms-keyframes #{$animation} {
    @content;
  }
  @-o-keyframes #{$animation} {
    @content;
  }
  @keyframes #{$animation} {
    @content;
  }
}
/* fadein mixin. */
@mixin fadein($opacity) {
  filter: alpha(opacity=$opacity) !important;
  opacity: $opacity / 100 !important;
}
