@import '_mixins';

body {
  @at-root {
    html, & {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }
  $container: '.container-fluid';
  #{$container},
  #{$container} > .row {
    @extend html;
  }
  @include animation(fadein, 1.5s);
}

@include keyframes(fadein) {
  0% { opacity: 0; }
  100% { opacity: 1; } 
}

.figures {
  $width: 30%;
  width: $width;
  margin: 15px auto;
  > .figure {
    width: $width;
    @at-root {
      &-x {
        @include animation(x-o, 15s, infinite);
      }
      &-o {
        @include animation(x-o, 10s, infinite);
      }
    }
  }
}

@include keyframes(x-o) {
  0%   { opacity: 0.5; }
  50%  { opacity: 0; }
  100% { opacity: 0.5; }
}

.id-join {
  margin-top: 50px;
  .form-group {
    > div {
      margin: 0 auto;
      float: none;
      @media (min-width: 992px) {
        width: 20%;
      }
    }
  } 
  button {
    $size: 25px;
    display: block;
    margin: $size auto;
    padding: $size;
    border: none {
      radius: $size + 10px;
    }
    $white: #fff !global;
    $color-rose: #F70047 !global;
    color: $white;
    background-color: $color-rose;
    @include transition(background, .5s);
    &:hover,
    &:active,
    &:focus {
      color: $white;
      $color-green: #5CB85C !global;
      background-color: $color-green;
      outline: none !important;
    }
  }
  .alert {
    $size: 5px;
    display: none;
    margin-top: $size;
    padding: $size;
    text-align: center;
  }
}

