// --------------------------------------------------------
// Project: Tictactoe
// Author: Lasha Badashvili (lashab@picktek.com)
// URL: http://github.com/lashab
// --------------------------------------------------------

@import '_mixins';

/* page body. */
body {
  @at-root {
    html, & {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }
  $container: '.container-fluid';
  #{$container},
  #{$container} > .row {
    @extend html;
  }
  @include animation(fadein, 1.5s);
}

@include keyframes(fadein) {
  0% { opacity: 0; }
  100% { opacity: 1; } 
}
/* fade in effects */
.fade-in-1-1 {
  @include fadein(100)
}
.fade-in-5-10:not(.player-waiting) {
  @include fadein(50);
}
.fade-effect:not(.player-waiting) {
  opacity: 0;
  @include transition(opacity .4s ease-in);
}
/* animated figures. */
.figures {
  $width: 30%;
  width: $width;
  margin: 15px auto;
  > .figure {
    width: $width;
    @at-root {
      &-x {
        @include animation(x-o, 15s, infinite);
      }
      &-o {
        @include animation(x-o, 10s, infinite);
      }
    }
  }
}

@include keyframes(x-o) {
  0%   { opacity: 0.5; }
  50%  { opacity: 0.1; }
  100% { opacity: 0.5; }
}
/* join form. */
.id-join {
  margin-top: 50px;
  .form-group {
    > div {
      margin: 0 auto;
      float: none;
      @media (min-width: 992px) {
        width: 20%;
      }
    }
  } 
  button {
    $size: 25px;
    display: block;
    margin: $size auto;
    padding: $size;
    border: none {
      radius: $size + 10px;
    }
    $white: #fff !global;
    $color-rose: #F70047 !global;
    color: $white;
    background-color: $color-rose;
    @include transition(background, .5s);
    &:hover,
    &:active,
    &:focus {
      color: $white;
      $color-green: #5CB85C !global;
      background-color: $color-green;
      outline: none !important;
    }
  }
  .alert {
    $size: 5px;
    display: none;
    margin-top: $size;
    padding: $size;
    text-align: center;
  }
}
/* canvas. */
.x-o-canvas {
  $size: 0;
  padding: $size !important;
  > div {
    margin: $size auto;
  }
}
/* players. */
.players {
  $badge: 'badge';
  $caption: 'caption';
  margin-top: 15px;
  > .#{$caption} {
    margin: 0 10px;
    .#{$badge} {
      background-color: $color-green;
    }
  }
  &:not(.is-mobile) {
    > .#{$caption} {
      > p {
        margin: 5px;
        &:first-child {
          font-size: 1.2em;
        }
        &:last-child {
          > span {
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 1em;
          }
        }
      }
    }
  }
  &.is-mobile {
    position: absolute;
    margin: 0;
    padding: 0;
    > .#{$caption} {
      > p {
        margin: 0;
      }
    }
    @at-root {
      &.id-player-1 {
        right: 0;
      }
    }
  }
  .#{$badge}-loosing {
    background-color: $color-rose !important;
  }
  .#{$badge}-winning {
    background-color: $color-green !important; 
  }
}
/* leave icon. */
.glyphicon-menu-left {
  $color-blue: #04ABDC !global;
  position: absolute !important;
  top: 50% !important;
  left: .5%;
  font-size: 6em;
  color: $color-blue;
  cursor: pointer;
  z-index: 5000;
  &:hover {
    color: $color-rose;
  }
}
/* volume icon. */
.glyphicon-volume {
  position: absolute !important;
  top: initial !important; 
  right: 5px !important;
  bottom: 5px !important;
  font-size: 3em;
  cursor: pointer;
  @at-root {
    &-off,
    &-up:hover {
      color: $color-rose;
    }
    &-up,
    &-off:hover {
      color: $color-blue;
    }
  }
}