// ----------------------------------------------
// Project: Tictactoe
// Author: Lasha Badashvili (lashab@picktek.com)
// URL: http://github.com/lashab
// ----------------------------------------------

@import '_mixins';

/* page body. */
body {
  @at-root {
    html, & {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    &.room {
      position: fixed;
      top: 0;
      bottom: 0;
    }
    &.home {
      $title: '.title';
      #{$title} {
        font-family: fantasy !important;
        font-size: normal;
      }
      @media only screen and (min-width: 992px) {
        .row {
          height: 50%;
          overflow: auto;
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
        #{$title} {
          font-size: 4em !important;
        }
      }
    }
  }
  $container: '.container-fluid';
  #{$container},
  #{$container} > .row {
    @extend html;
  }
  @include animation(fadein 1.5s);
}

@include keyframes(fadein) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* fade in effects */
.fade-in-1-1 {
  @include fadein(100)
}
.fade-in-5-10:not(.player-waiting) {
  @include fadein(50);
}
.fade-effect:not(.player-waiting) {
  opacity: 0;
  @include transition(opacity .4s ease-in);
}

/* join form. */
.id-join {
  $size: 25px;
  margin-top: $size;
  .form-group {
    > div {
      margin: 0 auto;
      float: none;
    }
  }
  button {
    display: block;
    margin: 0 auto;
    padding: $size - 5;
    border: none {
      radius: $size + 15px;
    }
    $white: #fff !global;
    $color-rose: #F70047 !global;
    color: $white;
    background-color: $color-rose;
    @include transition(background .5s);
    &:hover,
    &:active,
    &:focus {
      color: $white;
      $color-turquoise: #02d8ad !global;
      background-color: $color-turquoise;
      outline: none !important;
    }
  }
  .alert {
    $size: 5px;
    display: none;
    margin: {
      top: $size;
      bottom: 0;
    }
    padding: $size;
    text-align: center;
  }
}
/* canvas. */
.x-o-canvas {
  $size: 0;
  padding: $size !important;
  > div {
    margin: $size auto;
  }
}
/* players. */
.players {
  $glyphicon: 'glyphicon';
  $caption: 'caption';
  $badge: 'badge';
  margin-top: 15px;
  > .#{$glyphicon} {
    display: block;
    font-size: 2.5em;
    text-align: center;
    color: $color-turquoise;
  }
  > .#{$caption} {
    margin: 0 10px;
    .#{$badge} {
      background-color: $color-turquoise;
    }
    > p {
      margin: 5px;
      &:first-child {
        font-size: 1.2em;
      }
      &:last-child {
        > span {
          padding: 5px 10px;
          border-radius: 5px;
          font-size: 1em;
        }
      }
    }
  }
  .#{$badge}-loosing {
    background-color: $color-rose !important;
  }
  .#{$badge}-winning {
    background-color: $color-turquoise !important;
  }
  @at-root {
    @media only screen and (orientation:portrait) {
      & {
        display: none;
      }
    }
    & > .img-waiting {
      display: none;
    }
  }
}
/* leave icon. */
.glyphicon-menu-left {
  position: absolute !important;
  top: 50% !important;
  left: .5%;
  font-size: 6em;
  color: $color-turquoise;
  cursor: pointer;
  z-index: 5000;
  &:hover {
    color: $color-rose;
  }
}
/* volume icon. */
.glyphicon-volume {
  position: absolute !important;
  top: initial !important;
  right: 5px !important;
  bottom: 5px !important;
  font-size: 3em;
  cursor: pointer;
  @at-root {
    &-off,
    &-up:hover {
      color: $color-rose;
    }
    &-up,
    &-off:hover {
      color: $color-turquoise;
    }
  }
}
