<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <canvas id="tictactoe"></canvas>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/fabric.js-1.4.13/dist/fabric.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
  </body>
</html>