html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.canvas-container {margin: 0 auto;}
.room {
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1.5s; /* Firefox < 16 */
      -ms-animation: fadein 1.5s; /* Internet Explorer */
       -o-animation: fadein 1.5s; /* Opera < 12.1 */
          animation: fadein 1.5s;
}
.room .glyphicon-log-out {
  font-size: 25px;
  cursor: pointer;
  margin: 5px 5px;
  color: #5CB85C;
}
.players {display: none;}
.players > .caption p:first-child {
  font-weight: 500;
  margin-top: 10px;
  font-size: 18px;
}
.players > .caption p:last-child span {
  background-color: #5CB85C;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
}
.badge-loosing {
  background-color: #BF1E2D !important;
}
.badge-winning {
  background-color: #5CB85C !important;
}
.whole-in {
  filter: alpha(opacity=100) !important;
  opacity: 1 !important;
}
.half-in:not(.waiting) {
  filter: alpha(opacity=50) !important;
  opacity: .5 !important;
}
.fade-effect:not(.waiting) {
  opacity: 0;
  -webkit-transition: opacity .4s ease-in;
  -o-transition: opacity .4s ease-in;
  transition: opacity .4s ease-in;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}