<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="figures">
        <img src="/images/tic-tac-toe-X.png" class="figure figure-x">
        <img src="/images/tic-tac-toe-O.png" class="figure figure-o">
        <img src="/images/tic-tac-toe-X.png" class="figure figure-x">
        <img src="/images/tic-tac-toe-O.png" class="figure figure-o">
        <img src="/images/tic-tac-toe-X.png" class="figure figure-x">
        <img src="/images/tic-tac-toe-O.png" class="figure figure-o">
        <img src="/images/tic-tac-toe-O.png" class="figure figure-o">
        <img src="/images/tic-tac-toe-X.png" class="figure figure-x">
        <img src="/images/tic-tac-toe-X.png" class="figure figure-x">
      </div>
    </div>
    <div class="col-md-12">
      <%- include('form') %>  
    </div>
  </div>
</div>