<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="tic-tac-toe-X-O">
        <img src="/images/tic-tac-toe-X.png" class="">
        <img src="/images/tic-tac-toe-O.png" class="">
      </div>
    </div>
    <div class="col-md-12">
      <form class="form-inline id-join" method="post" action="/join">
        <div class="form-group">
          <input type="text" class="form-control" id="inputName" name="name" placeholder="Your name ?">
        </div>
        <button type="submit" class="btn btn-default">Play</button>
      </form>
    </div>
  </div>
</div>