<div class="container">
  <div class="row">
    <form class="form-inline" method="post" action="/join">
      <div class="form-group">
        <label for="inputName">სახელი</label>
        <input type="text" class="form-control" id="inputName" name="name" placeholder="სახელი">
      </div>
      <button type="submit" class="btn btn-default">თამაში</button>
    </form>
  </div>
</div>