<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="figures">
        <img src="/images/tic-tac-toe-X.png" class="figure figure-0 figure-x">
        <img src="/images/tic-tac-toe-O.png" class="figure figure-1 figure-o">
        <img src="/images/tic-tac-toe-X.png" class="figure figure-2 figure-x">
        <img src="/images/tic-tac-toe-O.png" class="figure figure-3 figure-o">
        <img src="/images/tic-tac-toe-X.png" class="figure figure-4 figure-x">
        <img src="/images/tic-tac-toe-O.png" class="figure figure-5 figure-o">
        <img src="/images/tic-tac-toe-O.png" class="figure figure-6 figure-o">
        <img src="/images/tic-tac-toe-X.png" class="figure figure-7 figure-x">
        <img src="/images/tic-tac-toe-X.png" class="figure figure-8 figure-x">
      </div>
    </div>
    <div class="col-md-12">
      <form class="form-inline id-join" method="post" action="/join">
        <div class="form-group">
          <input type="text" class="form-control" id="inputName" name="name" placeholder="Your name ?">
        </div>
        <button type="submit" class="btn btn-default">Play</button>
      </form>
    </div>
  </div>
</div>