<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-1 players id-player-0 fade-effect">
      <div class="hide">
        <img src="../images/default.png" class="img-responsive img-circle">
        <div class="caption fade-effect">
          <p class="text-center id-name-0"></p>
          <p class="text-center id-badge-0">
            <span class="badge"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-10"><canvas id="tictactoe"></canvas></div>
    <span data-toggle="tooltip" data-placement="left" title="Leave" class="glyphicon glyphicon-log-out pull-right" aria-hidden="true"></span>
    <div class="col-sm-6 col-md-1 players id-player-1 fade-effect hide">
      <div class="hide">
        <img src="../images/default.png" class="img-responsive img-circle">
        <div class="caption fade-effect">
          <p class="text-center id-name-0"></p>
          <p class="text-center id-badge-0">
            <span class="badge"></span>
          </p>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade bs-example-modal-sm tic-m" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6 players id-player-0 is-m">
                  <img src="../images/default.png" class="img-responsive img-circle">
                  <div class="caption">
                    <p class="text-center id-name-0"></p>
                  </div>
                </div>
                <div class="col-md-6 players id-player-1 is-m">
                  <img src="../images/default.png" class="img-responsive img-circle">
                  <div class="caption fade-effect">
                    <p class="text-center id-name-0"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>