<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-1 players id-player-0 fade-effect">
      <img src="../images/default.png" class="img-responsive img-circle">
      <div class="caption">
        <p class="text-center id-name id-name-0"></p>
        <p class="text-center id-badge id-badge-0">
          <span class="badge"></span>
        </p>
      </div>
    </div>
    <span data-toggle="tooltip" data-placement="right" title="Leave" class="glyphicon glyphicon-menu-left hidden-sm hidden-xs" aria-hidden="true"></span>
    <div class="col-xs-8 col-sm-8 col-md-10 x-o-canvas"><canvas id="tictactoe"></canvas></div>
    <div class="col-xs-2 col-sm-2 col-md-1 players id-player-1 fade-effect">
      <img src="../images/default.png" class="img-responsive img-circle">
      <div class="caption">
        <p class="text-center id-name id-name-1"></p>
        <p class="text-center id-badge id-badge-1">
          <span class="badge"></span>
        </p>
      </div>
    </div>
    <span class="glyphicon glyphicon-volume glyphicon-volume-up hidden-sm hidden-xs" aria-hidden="true"></span>
    <audio class="id-audio">
      <source src="/sounds/figure-click.mp3" type="audio/mp3">
    </audio>
    <!-- Modal -->
    <div class="modal fade x-o-m" tabindex="-1" role="dialog" aria-labelledby="Tictactoe" data-backdrop="static" data-keyboard="false">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <% if (form) { %>
              <%- include('form') %>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
