<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-1 players id-player-0 fade-effect">
      <img src="../images/default.png" class="img-responsive img-circle">
      <div class="caption fade-effect">
        <p class="text-center id-name-0"></p>
        <p class="text-center id-badge-0">
          <span class="badge"></span>
        </p>
      </div>
      <div class="row">
        <span data-toggle="tooltip" data-placement="right" title="Leave" class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
      </div>
    </div>
    <div class="col-md-10"><canvas id="tictactoe"></canvas></div>
    <div class="col-sm-6 col-md-1 players id-player-1 fade-effect">
      <img src="../images/default.png" class="img-responsive img-circle">
      <div class="caption fade-effect">
        <p class="text-center id-name-0"></p>
        <p class="text-center id-badge-0">
          <span class="badge"></span>
        </p>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade bs-example-modal-sm tic-tac-toe-m" id="" tabindex="-1" role="dialog" aria-labelledby="Tictactoe" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">

      </div>
    </div>
  </div>
</div>