<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 hidden-lg hidden-md visible-xs">
      <div class="row">
        <div class="col-xs-6 players id-player-0 fade-effect is-mobile">
          <img src="../images/default.png" class="img-responsive img-circle hidden-xs">
          <div class="caption fade-effect">
            <span class="text-center id-name-0"></span>
            <span class="badge"></span>
          </div>
        </div>
        <div class="col-xs-6 players id-player-1 fade-effect is-mobile">
          <img src="../images/default.png" class="img-responsive img-circle hidden-xs">
          <div class="caption fade-effect pull-right">
            <span class="text-center id-name-0"></span>
            <span class="badge"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-md-1 players id-player-0 fade-effect hidden-xs">
      <img src="../images/default.png" class="img-responsive img-circle">
      <div class="caption fade-effect">
        <p class="text-center id-name-0"></p>
        <p class="text-center id-badge-0">
          <span class="badge"></span>
        </p>
      </div>
    </div>
    <span data-toggle="tooltip" data-placement="right" title="Leave" class="glyphicon glyphicon-menu-left hidden-sm hidden-xs" aria-hidden="true"></span>
    <div class="col-xs-8 col-sm-8 col-md-10 x-o-canvas"><canvas id="tictactoe"></canvas></div>
    <div class="col-sm-2 col-md-1 players id-player-1 fade-effect hidden-xs">
      <img src="../images/default.png" class="img-responsive img-circle">
      <div class="caption fade-effect">
        <p class="text-center id-name-0"></p>
        <p class="text-center id-badge-0">
          <span class="badge"></span>
        </p>
      </div>
    </div>
    <span class="glyphicon glyphicon-volume-up hidden-sm hidden-xs" aria-hidden="true"></span>
    <audio class="id-audio">
      <source src="/sounds/figure-click.mp3" type="audio/mp3">
    </audio>
    <!-- Modal -->
    <div class="modal fade tic-tac-toe-m" id="" tabindex="-1" role="dialog" aria-labelledby="Tictactoe" data-backdrop="static" data-keyboard="false">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <%- form %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>