<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-2 users id-users-1"></div>
    <div class="col-md-11"><canvas id="tictactoe"></canvas></div>
    <div class="col-sm-6 col-md-2 id-users-2"></div>
  </div>
</div>